.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    width:100%;
    background-image:url("https://images.unsplash.com/photo-1551836022-8b2858c9c69b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    
}

.heading{
font-family:cursive;
padding: 2px;
margin:0;
}

.content{
    display:flex;
    flex-direction: column;
    visibility:hidden;
}

.hero-container:hover{
    background-image: url();
    .content{
        display:flex;
        flex-direction: column;
        visibility:visible;
    }
}
