body{
    margin:0;
    color:black;
    background-color: rgb(116, 163, 204);
    background-image: linear-gradient(#fcf5f5, #eff4fd);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px ;
}

.events h1{
    margin:5% 0 0 5%;
}

#copyright{
    display:block;
    padding:5px;
    margin-left: 2%;
    opacity: .8;
}

.horizontal-rule{
    border-style:none;
    border-width: 5px;
    border-top-style: dotted;
    width:5%;
    height:5px;
    color:gray;
    margin:0 auto;
    margin-top:5%;
}

